# List Object

### List Methods

In [3]:
emps = ["Raju", "Srinu", "Kumar", "Anil", "Kavya", "Ankita", "Praveena"]

In [ ]:
# 1. append(item): Adds an item to the end of the list.

In [4]:
emps.append("Suresh")     # object.method(argument)
emps

['Raju', 'Srinu', 'Kumar', 'Anil', 'Kavya', 'Ankita', 'Praveena', 'Suresh']

In [5]:
emps.append("Sunitha")
emps

['Raju',
 'Srinu',
 'Kumar',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha']

In [6]:
# 2. insert(index, item): Inserts an item at a specified index.

In [7]:
emps

['Raju',
 'Srinu',
 'Kumar',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha']

In [10]:
emps.insert(0, "Guru")
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Srinu',
 'Kumar',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha']

In [11]:
emps.insert(5, "Sarala")
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Srinu',
 'Sarala',
 'Kumar',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha']

In [12]:
emps.append("Kumar")

In [13]:
emps.append("Suresh")

In [14]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Srinu',
 'Sarala',
 'Kumar',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha',
 'Kumar',
 'Suresh']

In [15]:
# 3. remove(item): Removes the first occurrence of an item from the list.

In [16]:
emps.remove("Kumar")
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Srinu',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha',
 'Kumar',
 'Suresh']

In [17]:
# 4. index(item): Returns the index of the first occurrence of an item.

In [18]:
emps.index("Suresh")

10

In [19]:
emps.index("Ankita")

8

In [ ]:
# 5. pop([index]): Removes and returns the item at the specified index. If no index is specified, it removes and returns the last item.

In [20]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Srinu',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha',
 'Kumar',
 'Suresh']

In [21]:
emp_name = emps.pop(4)
emp_name

'Srinu'

In [22]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha',
 'Kumar',
 'Suresh']

In [23]:
emps.pop(12)

'Suresh'

In [24]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha',
 'Kumar']

In [25]:
emps.pop()  # removes last item

'Kumar'

In [26]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh',
 'Sunitha']

In [ ]:
emps.pop() # removes last item

'Sunitha'

In [28]:
emps

['Guru',
 'Guru',
 'Guru',
 'Raju',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh']

### len() for getting the lenght of a list / tuple / array / dict / string

In [29]:
len(emps)

10

### The `in` keyword to check whether an item is in the list

In [30]:
'''
item in list
item in tuple
item in dict
item in string
'''
# If the `item` is in the `list`, it returns True; otherwise, it returns False.

'\nitem in list\nitem in tuple\nitem in dict\nitem in string\n'

In [32]:
'Kavya' in emps
if 'Kavya' in emps:
    print("Kavya is working presently with us.")

Kavya is working presently with us.

In [33]:
emp = "Naveen"
if emp in emps:
    print(f"{emp} is working presently with us.")
else:
    print(f"{emp} is not working presently with us.")

Naveen is not working presently with us.

In [34]:
'Guru' in emps

True

In [35]:
'Nagaraju' in emps

False

### Printing items in a list

In [38]:
print(emps)     ### Printing items in a list

['Guru', 'Guru', 'Guru', 'Raju', 'Sarala', 'Anil', 'Kavya', 'Ankita', 'Praveena', 'Suresh']

### Looping through items in a list

In [40]:
for e in emps:
    print(e, end="  ")     ### Looping through items in a list

Guru  Guru  Guru  Raju  Sarala  Anil  Kavya  Ankita  Praveena  Suresh

### List are mutable (changable)

- List is a mutable object (changeable - add, remove, update items)
- Str, int, float, bool, tuple, ... are immutable objects

In [41]:
print(emps)

['Guru', 'Guru', 'Guru', 'Raju', 'Sarala', 'Anil', 'Kavya', 'Ankita', 'Praveena', 'Suresh']

In [42]:
emps[1] = "Vivek"
emps

['Guru',
 'Vivek',
 'Guru',
 'Raju',
 'Sarala',
 'Anil',
 'Kavya',
 'Ankita',
 'Praveena',
 'Suresh']

### List of list (somewhat like matrix)

- A list where its items are lists, and such list is a list of list
- A list of lists is also called as two-dimensional list (matrix)

In [44]:
# matrix (list of lists) with 3 rows and 5 columns
students = [
    ["Raju", 23, "A+" , "Maths", "Science"],
    ["Srinu", 22, "B" , "English", "Social"],
    ["Kumar", 24, "A" , "Physics", "Chemistry"]
]

In [45]:
students[0]  # first row

['Raju', 23, 'A+', 'Maths', 'Science']

In [46]:
students[1] # second row

['Srinu', 22, 'B', 'English', 'Social']

In [47]:
students[2] # third row

['Kumar', 24, 'A', 'Physics', 'Chemistry']

In [48]:
students[0][4]  # first row, fifth column

'Science'

In [49]:
students[1][4] # second row, fifth column

'Social'

In [50]:
students[2][4] # third row, fifth column

'Chemistry'

In [52]:
for student in students:
    print(student[0].ljust(10), student[2])

Raju       A+
Srinu      B
Kumar      A

In [53]:
students[0][0].ljust(10) + students[0][2]

'Raju      A+'

### More skills to work with lists

In [55]:
# 1. count(item): Returns the number of occurrences of an item in the list.

In [56]:
print(emps)

['Guru', 'Vivek', 'Guru', 'Raju', 'Sarala', 'Anil', 'Kavya', 'Ankita', 'Praveena', 'Suresh']

In [57]:
emps.count("Guru")

2

In [58]:
emps.count("Vivek")

1

In [59]:
emps.count("Babu")

0

In [60]:
# 2. reverse(): Reverses the order of items in the list.

In [62]:
emps
emps.reverse()
emps

['Suresh',
 'Praveena',
 'Ankita',
 'Kavya',
 'Anil',
 'Sarala',
 'Raju',
 'Guru',
 'Vivek',
 'Guru']

In [63]:
# 3. sort([key=function]): Sorts the items of the list in ascending order by default.
# We can also apply a function to sort the items.

In [64]:
emps.insert(3, "anand")
print(emps)

['Suresh', 'Praveena', 'Ankita', 'anand', 'Kavya', 'Anil', 'Sarala', 'Raju', 'Guru', 'Vivek', 'Guru']

In [66]:
emps.sort()
print(emps)

['Anil', 'Ankita', 'Guru', 'Guru', 'Kavya', 'Praveena', 'Raju', 'Sarala', 'Suresh', 'Vivek', 'anand']

In [ ]:
emps.sort(key=str.lower)        # emps.sort(key=str.upper)
print(emps)

['anand', 'Anil', 'Ankita', 'Guru', 'Guru', 'Kavya', 'Praveena', 'Raju', 'Sarala', 'Suresh', 'Vivek']

In [70]:
# sorted(list[, key=function][reverse=True])
# The sorted() function returns a new sorted list from the items in the given iterable without modifying the original iterable.

In [69]:
emp_new_list = sorted(emps, reverse=True, key=str.lower)
print(emp_new_list)

['Vivek', 'Suresh', 'Sarala', 'Raju', 'Praveena', 'Kavya', 'Guru', 'Guru', 'Ankita', 'Anil', 'anand']

### Two built-in functions: min() and max()

In [71]:
numbers = [34, 1, 0, -23, 12, 99, 4, -55, 67]
print(numbers)

[34, 1, 0, -23, 12, 99, 4, -55, 67]

In [72]:
max(numbers)

99

In [73]:
min(numbers)

-55

### The 'random' module functions: choice(), & shuffle()

In [74]:
print(numbers)

[34, 1, 0, -23, 12, 99, 4, -55, 67]

In [75]:
# import random module and use the choice() function to choose an item from a list randomly
import random

In [86]:
random.choice(numbers) # homework: run this cell multiple times to see different outputs

67

In [101]:
# shuffle() function from random module to shuffle the items of a list randomly
random.shuffle(numbers)
print(numbers)

[12, -23, 1, 4, 67, -55, 34, 0, 99]

### Copying lists
- The assignment operator makes a shallow copy of a list, so both list variables refer to the same list.
- In contrast, the `deepcopy()` function form `copy` module makes a deep copy of a list, and variables refere to the two different lits.

In [102]:
m = [1, 2, 3]
n = m

In [103]:
m[0] = 100
m

[100, 2, 3]

In [104]:
n

[100, 2, 3]

In [105]:
import copy
a = [1, 2, 3]
b = copy.deepcopy(a)

In [106]:
a[0] = 100
a

[100, 2, 3]

In [107]:
b

[1, 2, 3]

In [108]:
b[0] = 200
b

[200, 2, 3]

In [109]:
a

[100, 2, 3]

### Slicing the list
- list[start:end:step]

In [110]:
nums = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [111]:
nums[0:4] # first four items

[5, 10, 15, 20]

In [112]:
nums[2:8]  # from index 2 to index 7

[15, 20, 25, 30, 35, 40]

In [113]:
nums[::2] # every second item

[5, 15, 25, 35, 45, 55]

In [114]:
nums[1::2] # every second item starting from index 1

[10, 20, 30, 40, 50, 60]

In [115]:
nums[::-1]  # reversing the list

[60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [116]:
nums[::3] # every third item

[5, 20, 35, 50]